body {
    margin: 0;
    padding: 0;
    width: 100%;

    background: url(flannel.gif);
    background-repeat: xy;
}

header {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%; /* of body width */
    min-width: 800;
    height: 137px;
    text-align:center;
    background-color: #AAAAAA;
    opacity: 0.7;
}

main {
    position: relative;
    top: 137px;
    margin: 0 auto; padding: 0;
    width: 700px;
    height: 100%;
    display: block;
    text-align: left;
    background-color: #AAAAAA;
    opacity: 0.7;
}

h1 {
    font-size: 250%;
    font-family: sans-serif;
    padding: 7;
    margin: 0;
    /*background-color:Tomato;*/
}

h2 {
    font-size: 125%;
    font-family: sans-serif;
    padding: 7;
    margin: 0;
    /*background-color:Tomato;*/
}

h3 {
    font-size: 100%;
    font-family: sans-serif;
    padding: 7;
    margin: 0;
    /*background-color:Tomato;*/
}

.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    margin: 0 auto; padding: 10px;
    color: #333;
    text-decoration: none;
}
.nav a:hover {
    background: #fff;
}
