body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background: url(flannel.gif);
    background-repeat: xy;
}

header {
    /*float: left;*/
    margin: 0;
    padding: 0;
    width: 100%; /* of body width */
    min-width: 780;
    height: 137px;
    text-align:center;
    background: rgba(175, 175, 175, 0.7);
}

main {
    position: relative;
    top: 0px;
    margin: 0 auto; padding: 20 40 30 40;
    width: 780px;
    /*height: 100%;*/
    display: block;
    text-align: left;
    background: rgba(175, 175, 175, 0.7);
}

main p {
    display: inline;
    font-family: sans-serif;
}

main h2 {
    display: inline;
    font-family: sans-serif;
    padding: 0;
}

#me {
    display: inline;
    float: left;
}

h1 {
    font-size: 250%;
    font-family: sans-serif;
    padding: 7;
    margin: 0;
    /*background-color:Tomato;*/
}

h2 {
    font-size: 125%;
    font-family: sans-serif;
    padding: 7;
    margin: 0;
    /*background-color:Tomato;*/
}

p {
    font-family: sans-serif;
}

.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    margin: 0 auto; padding: 10px;
    color: #000;
    text-decoration: none;
}
.nav a:hover {
    background: #fff;
}
